# Archivos de Entorno Virtual
env/
venv/
__pycache__/
selfing/
staticfiles/
# Archivos de Base de Datos
*.sqlite3
db.sqlite3

# Archivos de Configuración Sensibles
.env
staticfiles/
media/
media/
# Archivos estáticos y de medios recolectados por Django


# Archivos del sistema operativo y del editor
.DS_Store
*.pyc
*.swp